<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="pageheader" th:fragment="header">
    <header>
        <img th:src="@{images/records.jpg}" alt="nice record image"/>
        <h1>Your Record Collection Database
            <br/>
            <h2>Create a database of all your precious vinyl records</h2>
        </h1>
    </header>
    <br/>
    <nav id="navbar">
        <ul>
            <li><a href="#" th:href="@{/}">Update</a></li>
            <li><a href="#" th:href="@{/collection}">Collection</a></li>
            <li><a href="/about"> About</a></li>
            <li><a href="/contact"> Contact</a></li>
        </ul>
    </nav>
</div>
</body>
</html>