@font-face {
    font-family: Aerosol;
    src: url('../fonts/Aerosol.ttf')format('truetype');
}

h1{
    color: #815a24;
    font-size: 60px;
    text-align: center;
    font-family: Aerosol;
}

body{
    margin: 0px;
}

#col-form{
    width: 90%;
}

#artist #label{
    width: 15%;
}

#album{
    width: 30%;
}

#year #price{
    width: 5%;
}
table{
    width: 77%;
    align-content: center;
}

h2{
    text-align: center;
    color: #c7c7c7;
    font-family: Aerosol;
}

th{
    font-family: Aerosol;
    font-size: 1.5em;
}

#overviewTitle{
    font-size: 2em;
}

#footer {

    position:fixed;
    bottom:0;
    width:100%;
    /*height:60px;    Height of the footer */
    background:#141414;
}

#pageheader{
    position: relative;
    top:0;
    background-color: #141414;
}

footer a{
    color:#815a24;
    text-decoration: none;
    margin-left: 10px;
    font-stretch: ultra-expanded;
}

footer span{
    color:#888888;
}


body{
    color:#ffffff;
    background-color: #303030;
}


input{
    margin: 10px;
}

header h1{

    margin:0px;
    padding-top: 10px;
}

header h2{
    color:#969696;
    font-size: 30px;
    margin:6px;

}
header img{
    float: left;
    margin:20px 30px; ;
    border: 4px outset #815a24;

    /*<!--width: 25%;-->*/
}

#navbar ul li{
    display: inline-block;
    padding: 0px 5%;
}

#navbar ul li a{
    text-decoration: none;/*removes the underlining from the link*/
    color: #888888;
    font-size: 1.5em;
}

#navbar ul li a:hover{
    background: #242323;
    /*padding: 2px 2%;*/
}

#navbar{
    align-content: center;
    background-color: #111111;
    border-style:solid;
    border-width: 2px;
    border-color: #815a24 transparent;
}