@font-face {
    font-family: Aerosol;
    src: url('../fonts/Aerosol.ttf')format('truetype');
}

h1{
    color: #815a24;
    font-size: 60px;
    text-align: center;
    font-family: Aerosol;
}

h2{
    text-align: center;
    color: #c7c7c7;
    font-family: Aerosol;
}

#pageheader{
    background-color: #141414;

}
header{


}

body{
    color:#ffffff;
    background-color: #303030;
}


input{
    margin: 10px;
}

h1 img{
    float: left;
    margin:10px 10px;
    /*<!--width: 25%;-->*/
}
#navbar ul li{
    display: inline-block;
    padding: 2px 2%;
}

#navbar ul li a{
    text-decoration: none;/*removes the underlining from the link*/
    color: #888888;
    font-size: 1.5em;
}

#navbar ul li a:hover{
    background: #242323;
    padding: 2px 2%;
}

#navbar{
    background-color: #111111;


    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}