<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{css/style.css}"/>
<head>
    <link rel="shortcut icon" th:href="@{images/recordworld.ico}"/>
    <title>The Record Collector</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="database_table" align="center">
    <h2  class="overviewTitle">Collection overview:</h2>

    <table class="table table-bordered">
        <thead>
        <tr class="btn-success">
            <th>Artist</th>
            <th>Album</th>
            <th>Year</th>
            <th>Label</th>
            <th>Price</th>
        </tr>

        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(allRecords)}" class="btn-warning">
            <td colspan="6" align="center">No Records in your collection yet!!!</td>
        </tr>
        <tr th:each="record : ${allRecords}">
            <td th:text="${record.artist}"></td>
            <td th:text="${record.album}"></td>
            <td th:text="${record.getdate_of_release()}"></td>
            <td th:text="${record.label}"></td>
            <td id="pricefield">€ <span th:text="${#numbers.formatDecimal(record.price,1,2)}"/></td><!-- Set minimum integer digits and (exact) decimal digits-->
            <td align="center">
                <a th:href="@{/record/edit/{id}(id=${record.id})}"><span></span></a> &nbsp; &nbsp;
                <a th:href="@{/record/delete/{id}(id=${record.id})}"><span></span></a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<footer>
    <div th:replace="fragments/footer :: footer">

    </div>
</footer>

</body>
</html>