<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{css/style.css}"/>
<head>
    <link rel="shortcut icon" th:href="@{images/recordworld.ico}"/>
    <title>The Record Collector</title>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<article>
    <p>
        <iframe width="240" height="180" src="https://www.youtube.com/embed/zqNTltOGh5c" frameborder="0"/>
    <h3>Miles Davis - So What?</h3>
    Nice video for you to enjoy on a sunny afternoon<br/>
    tfghghihg<br/>
    tuhgjd ijdgkjgikiokgijkgojkj gihjjig<br/>


    </p>
</article>


<br/>

<footer>
    <nav th:replace="fragments/footer :: footer">

    </nav>
</footer>
</body>
</html>