<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{css/style.css}"/>
<head>
    <link rel="shortcut icon" th:href="@{images/recordworld.ico}"/>
    <title>The Record Collector</title>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<aside>
    <article>
        <h3>Hello There!</h3>
        <p>Nice to see you have found my page! I've setup this page to show you some of my favourite tracks. I will
            update from time to time and add some new ones for you to enjoy</p>
        <p>I also give you the opportunity to get hold of your record collection. I added a collection section where you can create a database of all your precious records so you'll have a nice overview.</p>
        <p>Om the about page i have some info on the hows and abouts of what i needed to create this website, as the purpose of this website is for me to explore the tools, languages and environments needed for development .</p>
    </article>
</aside>
<main id="clips">
<article>
    <p>
        <iframe width="240" height="180" src="https://www.youtube.com/embed/zqNTltOGh5c" frameborder="0"/>
    <h3>Miles Davis - So What?</h3>
    This 1959 recording is still sounding fresh, and easily the perfect track for a sunny Sunday afternoon.
    Coming from the legendary "kind of Blue" album. With musicians Miles Davis (trompet), John Coltrane (tenorsax),
    Julian "Cannonball" Adderley (altsax), Bill Evans (piano), "Freddie Freeloader" Wynton Kelly (piano), Paul Chambers (contrabas) and Jimmy Cobb (drums).
    Sit back relax and enjoy.
    </p>
</article>
<article>
    <p>
        <iframe width="240" height="180" src="https://www.youtube.com/embed/YiOgPd18UmQ?list=PLbn8TUN2bqwdqKIAlNOJdiYvV893R73-Q" frameborder="0" />
    <h3>James Brown - Mind Power </h3>
    From one of my favourite James Brown albums: "The Payback". Released in 1973 on Polydor, with other great tracks like, the big payback, stoned to the bone and Time is running out fast.
    </p>
</article>
<article>
    <p>
        <iframe width="240" height="180" src="https://www.youtube.com/embed/9vQaVIoEjOM" frameborder="0"/>
    <h3>Public Enemy - Don't Believe The Hype </h3>
    This track is from the album "It takes a nation of milions to hold us back. The second album of Rap group public Enemy with Front man Chuck D, Flavor Flav,
    Dj Terminator X and Professor Griff. One of the juwels of the golden age of hiphop.
    </p>
</article>
</main>

<br/>

<footer>
    <nav th:replace="fragments/footer :: footer">

    </nav>
</footer>
</body>
</html>