<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css}"/>

<head>
    <link rel="shortcut icon" th:href="@{images/recordworld.ico}"/>
    <title>The Record Collector</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<article id="loginText">
    <p>
    <h3>Welcome, to access or create your database you need to login</h3>
    The collection page allows you to create your own record database ,to keep track of your music collection. Here is an image
how your database will look like. You will be able to sort the collection on any field or search on a particular artist to get an overview
of only the records of that artist.<br/> If you didn't sign up already, follow the link to the:
    <a id="register" th:href="@{/register}"> registration page.</a>
</p>
</article>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form id="loginForm" th:action="@{/login}" method="post">
    <h3 id="loginHeader">Login or use the register button to get to the registration page.</h3>
    <label> User Name : <input type="text" name="username"/> </label><br/>
    <label> Password: <input type="password" name="password"/> </label><br/>
    <input class="button" type="submit" value="Sign In"/>
    <a href="#" th:href="@{/register}">Goto Register page</a><br/>

</form>
<footer>
    <div th:replace="fragments/footer :: footer">

    </div>
</footer>
</body>
</html>