<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" th:href="@{/images/recordworld.ico}"/>
    <title>The Record Collector</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="database_table" align="center">
    <h2 class="overviewTitle">Collection overview:</h2>


    <form id="updateForm" th:object="${editRecord}" th:action="@{/record/update}" action="#" method="post">
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{artist}"/>

        <input type="text" th:field="*{album}" placeholder="album"/>

        <input type="date" th:field="*{date_of_release}"  placeholder="year"/>

        <input type="text" th:field="*{label}"  placeholder="label"/>
        <select type="text" th:value="*{format}" th:field="*{format}" >
            <option name="select" value="LP">LP</option>
            <option name="select" value="LP2">LP2</option>
            <option name="select" value="LP3">LP3</option>
            <option name="select" value="12">12</option>
            <option name="select" value="10">10</option>
            <option name="select" value="7">7</option>
        </select>

        <input type="number" step="0.01" th:field="*{price}" placeholder="price"/>
        <input type="hidden" th:id="*{idusers}" name="idusers" th:value="${currentuser.id}" th:text="${currentuser.id}" class="form-control" placeholder=" label"/>

        <input class="button" type="submit" value="Update"/>
    </form>
    <table th:replace="fragments/table :: table">
    </table>
</div>
<footer>
    <div th:replace="fragments/footer :: footer">

    </div>
</footer>

</body>
</html>